<p>add-product works!</p>
<br><br>
<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-6">
            <h3>Add Product</h3>
            <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Product Name: </label>
                    <input id="product_name" type="text" formControlName="product_name" class="form-control"
                        maxlength="20" [ngClass]="{ 'is-invalid': submitted && fval.product_name?.errors }" />
                    <div *ngIf="submitted && fval.product_name?.errors" class="invalid-feedback">
                        <div *ngIf="fval.product_name?.errors.required">Product Name is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Description: </label>
                    <textarea class="form-control" formControlName="description" rows="3" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && fval.description?.errors }"></textarea>
                    <div *ngIf="submitted && fval.description?.errors" class="invalid-feedback">
                        <div *ngIf="fval.description?.errors.required">Description is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Price: </label>
                    <input class="form-control" formControlName="price" rows="3" maxlength="8"
                        [ngClass]="{ 'is-invalid': submitted && fval.price?.errors }" />
                    <div *ngIf="submitted && fval.price?.errors" class="invalid-feedback">
                        <div *ngIf="fval.price?.errors.required">Price is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Quantity: </label>
                    <input class="form-control" formControlName="quantity" rows="3" maxlength="8"
                        [ngClass]="{ 'is-invalid': submitted && fval.quantity?.errors }" />
                    <div *ngIf="submitted && fval.quantity?.errors" class="invalid-feedback">
                        <div *ngIf="fval.quantity?.errors.required">Quantity is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Category: </label>
                    <input class="form-control" formControlName="category" rows="3" maxlength="20"
                        [ngClass]="{ 'is-invalid': submitted && fval.category?.errors }" />
                    <div *ngIf="submitted && fval.category?.errors" class="invalid-feedback">
                        <div *ngIf="fval.category?.errors.required">Category is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Choose Image: </label>
                    <input type="file" name="image" formControlName="image" (change)="fileProgress($event)"
                        [ngClass]="{ 'is-invalid': submitted && fval.image?.errors }" />
                    <div *ngIf="submitted && fval.image?.errors" class="invalid-feedback">
                        <div *ngIf="fval.image?.errors.required">Image is required</div>
                    </div>
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="100" />
                </div>

                <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>