<!-- <p>product-crud works!</p> -->

<!-- <a routerLink="/addproduct">Add Product</a> &nbsp; &nbsp; -->


<div class="container wrapper">
    <div class="row">
        <button type="button" class="btn btn-success btn-sm move-right" routerLink="/addproduct">Add Product</button>

        <div class="col-md-12">
            <div class="inner">
                <br>
                <h3>My Products</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of ProductsList; let i =index;">
                            <td>{{i + 1}}</td>
                            <td>{{product.product_name}}</td>
                            <td>{{product.description}}</td>
                            <td>₹ {{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm "
                                    [routerLink]="['/view-product/', product.id]">View</button> &nbsp;
                                <button type="button" class="btn btn-warning btn-sm move-right"
                                    [routerLink]="['/edit-product/', product.id]">Edit</button> &nbsp;
                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="deleteProduct(product)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>