<div class="container wrapper wrapper2">
  <h4>Product</h4>
  <div class="row">
    <div class="col-md-12">
      <br><br>

      <div style=" float: left;">
        <img src="{{Product.image}}" height="300">
      </div>
      <br>
      <b> Product Name: </b> {{Product.product_name}}<br>
      <b> Category Name: </b>{{Product.category}}<br>
      <b> Price: </b>₹ {{Product.price}}<br>
      <b> Quantity: </b>₹ {{Product.quantity}}<br>
      <b> Description: </b>{{Product.description}}<br>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <button type="button"  class="btn btn-success btn-sm" (click)="addToCart(product, $event)" >Add To Cart</button> -->

    </div>
  </div>
</div>