<p>edit-product works!</p>
<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <h3>Add Product</h3>
            <form [formGroup]="updateProductForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Product</label>
                    <input type="text" formControlName="product_name" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" rows="3" maxlength="50"></textarea>
                </div>
                <div class="form-group">
                    <label>Price: </label>
                    <textarea class="form-control" formControlName="price" rows="3" maxlength="8"></textarea>
                </div>
                <div class="form-group">
                    <label>Quantity: </label>
                    <textarea class="form-control" formControlName="quantity" rows="3" maxlength="8"></textarea>
                </div>
                <div class="form-group">
                    <label>Category: </label>
                    <textarea class="form-control" formControlName="category" rows="3" maxlength="20"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
</div>