<p>cart-view works!</p>
<br><br>
<div class="container wrapper wrapper2">
  <h4>Cart Total: ₹{{totalPrice }}</h4>
  <div class="row">


    <div class="col-md-6" *ngFor="let product of ProductsList">
      <br>
      <br>
      <div style=" float: left;">
        <img [src]="imgURL" height="190">
      </div>
      <br>
      <b> Product Name: </b> {{product.product_name}}<br>
      <b> Category Name: </b>{{product.category}}<br>
      <b> Price: </b>₹ {{product.price}}<br>
      <b> Quantity: </b>{{product.quantity}}<br>
      <b> Description: </b>{{product.description}}<br>
      <br> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Remove</button>
    </div>
  </div>
</div>