<div class="container wrapper wrapper2">
  <h4>Product List</h4>
  <div class="row">
    <div class="col-md-6" *ngFor="let product of ProductsList">
      <br><br>

      <div style=" float: left;">
        <img src="{{product.image}}" height="190">
      </div>
      <br>
      <b> Product Name: </b> {{product.product_name}}<br>
      <b> Category Name: </b>{{product.category}}<br>
      <b> Price: </b>₹ {{product.price}}<br>
      <b> Description: </b>{{product.description}}<br>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-success btn-sm" (click)="addToCart(product, $event)">Add To Cart</button>

    </div>
  </div>
</div>


<!-- <div class="container wrapper">
    <div class="row">

        <div class="col-md-12">
            <div class="inner">
                <h3>My Products</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of ProductsList">
                            <th scope="row">{{product.id}}</th>
                            <td>{{product.product_name}}</td>
                            <td>{{product.description}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-product/', product.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div> -->


<!-- <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        <button class="btn btn-success" (click)="getNavigation('create', '')">Create New Product</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        <table #productsTable class="display" style="width:100%">
          <thead>
          <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of ProductsList; let i =index;">
            <td>{{i + 1}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.description}}</td>
            <td>₹ {{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="getNavigation('view', product.p_id)">View</button>
              <button type="button" class="btn btn-warning"[routerLink]="['/edit-product/', product.id]">Edit</button> &nbsp;
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Remove</button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->