<div class="container wrapper">

    <h3>Login</h3>
    <p>Note: Username: Vishwa & Password: Vishwa@123</p>

    <br>
    <label>Username: </label> &nbsp;&nbsp;
    <input type="text" #u1 /><br>
    <label>Password: </label> &nbsp;&nbsp;&nbsp;
    <input type="password" #p2 /><br />
    <button class="btn btn-md btn-primary" (click)="check(u1.value, p2.value)">Login</button>
    <br />
    <span>{{ msg }}</span>


</div>